{
  // "presets": ["next/babel"],
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [["styled-components", { "ssr": true }]]
}
